.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  margin-bottom: 31px;
  padding-bottom: 10px;
}
@media screen  and (max-width: 475px){
  .popup__input{margin-left: 16px;
    height: 15px;
    width: 238px;
}
}