.popup__title {
  margin: 34px 36px 45px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: calc(100% - 28px);
}

@media screen and (max-width: 475px) {
  .popup__title {
    margin: 25px auto 78px;
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;

  }
}